<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        h1,
        h2 {
            color: #333;
        }

        section {
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        pre {
            /* background-color: #f4f4f4; */
            padding: 10px;
            overflow-x: auto;
        }

        code {
            background-color: black;
            font-family: 'Courier New', monospace;
            color: white;
        }
    </style>
</head>

<body>
    <h1>API Documentation</h1>
    <p>Author : Qude</p>
    <small><a href="https://www.facebook.com/hoangquanit17/">Click here to contact for me about anything about
            APIs</a></small>
    <section>
        <h2>Base URL</h2>
        <p>The base URL for all API endpoints is: <code>https://shopdev.onrender.com/api</code></p>
    </section>

    <section>
        <h2>Navigation</h2>
        <ul>
            <li><a href="/api/documentation/products">Product API</a></li>
            <li><a href="/api/documentation/categories">Category API</a></li>
            <li><a href="/api/documentation/brand">Brand API</a></li>
            <li><a href="/api/documentation/orders">Order API</a></li>
            <li><a href="/api/documentation/site-settings">Site-Setting API</a></li>
            <!-- Add links for other APIs if needed -->
        </ul>
    </section>



</body>

</html>